header#newpost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 680px;
  margin: 30px auto 10px;
}

header#newpost a{
  background: #272727;
  padding: 8px 18px 8px;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
}

form#newformpost {
  background: #fff;
  width: 100%;
  max-width: 680px;
  margin: 0px auto 0px;
  padding: 30px;
  border: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

form#newformpost span {
  text-align: center;
  color: #FF0000;
  font-size: 15px;
}

form#newformpost input {
  margin-bottom: 10px;
}

form#newformpost input[type="text"] {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 0 20px;
}

form#newformpost textarea {
  height: 80px;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 0 20px;
  padding-top: 10px;
}

form#newformpost button {
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background: #272727;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}